<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title #tituloHome class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-title  id="titulo-home" class="ion-text-center"> Bienvenido, {{ usuario }} </ion-title>

  <div class="container-card">
    
    <ion-card #cardDatos class="card-datos " >
      <ion-card-header>
        <h3><strong>Datos Personales</strong></h3>
      </ion-card-header>
      <ion-card-content>
        <ion-item  #nombreInput>
         
          <ion-input [(ngModel)]="nombre" type="text" label="Nombre:"></ion-input>
        </ion-item>
        <ion-item #apellidoInput>
          
          <ion-input  [(ngModel)]="apellido" type="text" label="Apellido:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="nivel" label="Nivel de educacion:">
            <ion-select-option value="Basica">Basica</ion-select-option>
            <ion-select-option value="Media">Media</ion-select-option>
            <ion-select-option value="Superior">Superior</ion-select-option>
            <ion-select-option value="Posgrado">Posgrado</ion-select-option>
          </ion-select>
        </ion-item>
        <mat-form-field>
          <mat-label>Elegir fecha</mat-label>
          <input #fechaNacimiento matInput [matDatepicker]="picker" matInput="native">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        
      </ion-card-content>

      <ion-button class="btn-guardar" expand="full" >Guardar</ion-button>
      
    </ion-card>
    
  </div>
  <div #btnLimpiar class="btn-limpiar ">
    <ion-button  (click)="limpiarCampos()">Limpiar Campos</ion-button>
  </div>
 
</ion-content>
